.completed {
    text-decoration: line-through;
    color: gray;
}

li {
    cursor: default;

    display: flex;
    width: fit-content;
}

nav {
    display: flex;
    align-items: center;
    gap: 2%;
}